.marqueeContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    --gap: 30px;
}

.marquee {
    display: flex;
    gap: var(--gap);
    width: 200%;
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-132%);
    }
}