.navHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.nav {
    position: absolute;
    padding: 10px 15px;
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLogo {
    width: 140px;
    height: auto;
}

.navLogo .Img {
    width: 100%;
    height: 100%;
}

.navLinksContainer {
    display: flex;
    align-items: center;
    gap: 18px;
}

.navLinks {
    color: var(--clr-white);
    font-size: 18px;
    font-weight: 500;
}

.navLinks:hover {
    opacity: 0.75;
}

.navLinks:active {
    opacity: 1;
}