.footerContactContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: calc(var(--padding) * 2.5);
}

.footerContact {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    color: var(--clr-white);
}

.footerContactBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.footerContactBody>h3 {
    color: var(--clr-red);
}

.footerContactBody>h1 {
    font-size: 64px;
    line-height: 1;
}

.footerContactBodyPhone {
    margin-top: var(--padding);
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.footerContactBodyPhoneImg {
    width: 50px;
    height: 50px;
}

.footerContactBodyPhoneImg img {
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.footerContactBodyPhone h3 {
    font-size: 18px;
}

.footerContactBodyPhone h2 {
    font-size: 36px;
    color: var(--clr-green);
}

.contactCard {
    border-radius: calc(var(--border-radius) * 2);
    background-color: var(--clr-green);
    padding-block: calc(var(--padding) * 2.5);
    padding-inline: calc(var(--padding) * 2);
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 1.75);
    color: var(--clr-full-white);
}

.contactCard h2 {
    text-align: center;
    font-size: 28px;
}

.contactCard input {
    width: 400px;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    outline: none;
}